
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Amount</th>
      
      <th>Description</th>
      
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |trans| %>
      <tr>
        <td><%= trans.tran_date %></td>
        <td><%= trans.type %></td>
        <td><%= trans.amount %></td>
        <td><%= trans.description %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

